apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}-api
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.api.replicaCount }}
  selector:
    matchLabels:
      {{- include "chart.selectorLabels" . | nindent 6 }}
      platzService: api
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: {{ .Values.api.service.containerPort | quote }}
        prometheus.io/path: /metrics
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "chart.selectorLabels" . | nindent 8 }}
        platzService: api
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.api.serviceAccount.name }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: api
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.images.backend.repository }}:{{ .Values.images.backend.tag }}"
          imagePullPolicy: {{ .Values.images.backend.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.api.service.containerPort }}
              protocol: TCP
          command:
            - /root/platz-api
            {{- range $adminEmail := .Values.auth.adminEmails }}
            - --admin-email={{ $adminEmail }}
            {{- end }}
          env:
            - name: DATABASE_URL
              value: '{{ include "chart.databaseUrl" . }}'
            - name: PLATZ_OWN_URL
              value: '{{ include "platz.ownUrl" . }}'
            - name: OIDC_SERVER_URL
              {{- toYaml .Values.auth.oidc.serverUrl | nindent 14 }}
            - name: OIDC_CLIENT_ID
              {{- toYaml .Values.auth.oidc.clientId | nindent 14 }}
            - name: OIDC_CLIENT_SECRET
              {{- toYaml .Values.auth.oidc.clientSecret | nindent 14 }}
            - name: RUST_BACKTRACE
              value: '1'
          livenessProbe:
            httpGet:
              path: /status
              port: {{ .Values.api.service.containerPort }}
          readinessProbe:
            httpGet:
              path: /status
              port: {{ .Values.api.service.containerPort }}
          resources:
            {{- toYaml .Values.api.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
